doctype html
html
  head
    meta(charset='utf-8')
    title Selectel. Test task.
    link(href='/assets/weather-icons.min.css')
    link(href='/assets/weather-icons-wind.min.css')
  body(ng-app='app')
    ui-view
    script(src='./app.js')
